table{
    background: #ccc;
    width: 100%;
    margin: 1em 0;
    padding: 1em;
}

thead{
    background: #40229b;
    color: #fff;
}
tbody{
    background: #fff;
    font-weight: bold;
}
tr{
    
}
th{
    text-transform: uppercase;
    text-align: left;
    padding-left: .5em;
}
td{
    padding: 1em 0.5em;
}